.listing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__list__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    
        padding: 100px 0 200px 0;
    }
}

