.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-bottom:  2px solid grey;

    &__title {
        box-sizing: border-box;
        align-items: flex-start;
        text-align: left;

        padding: 10px 0;
        width: 100%;
    }
    h1 {
        color: rgb(0, 52, 129);
    }

    a {
        text-decoration: none;
        font-size: 30px;
        color:rgb(0, 52, 129);
        font-weight: bold;
    }
}

