.header {
    display: flex;
    flex-direction: column;

    &__title {
        align-items: flex-start;
        text-align: left;
        border-bottom:  2px solid grey;
    }
    h1 {
        color: rgb(0, 52, 129);
    }
}

