@import '../src/components/scss/index-components.scss';
@import '../src/pages/scss/indexPages.scss';

.App {
  display: flex;
  flex-direction: column;
  padding: 0 5% 0 5%;
  text-align: center;
}


